/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 33, ../sass/animations.scss */
.anim-fadeBounce, .anim-fadeScale, .anim-fadeRotate {
  opacity: 0;
}

/* line 36, ../sass/animations.scss */
.animate {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 41, ../sass/animations.scss */
.animate.delay-1 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
/* line 42, ../sass/animations.scss */
.animate.duration-1 {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
/* line 41, ../sass/animations.scss */
.animate.delay-2 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
/* line 42, ../sass/animations.scss */
.animate.duration-2 {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
/* line 41, ../sass/animations.scss */
.animate.delay-3 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
/* line 42, ../sass/animations.scss */
.animate.duration-3 {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
/* line 41, ../sass/animations.scss */
.animate.delay-4 {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
/* line 42, ../sass/animations.scss */
.animate.duration-4 {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
}
/* line 41, ../sass/animations.scss */
.animate.delay-5 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 42, ../sass/animations.scss */
.animate.duration-5 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/* line 45, ../sass/animations.scss */
.animate.anim-fadeBounce {
  -webkit-animation-name: fadeBounce;
  animation-name: fadeBounce;
}
/* line 48, ../sass/animations.scss */
.animate.anim-fadeScale {
  -webkit-animation-name: fadeScale;
  animation-name: fadeScale;
}
/* line 51, ../sass/animations.scss */
.animate.anim-rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
}
/* line 53, ../sass/animations.scss */
.animate.anim-rotate.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
/* line 58, ../sass/animations.scss */
.animate.anim-fadeRotate {
  -webkit-animation-name: fadeRotate;
  animation-name: fadeRotate;
}
/* line 61, ../sass/animations.scss */
.animate.anim-rotateXY {
  -webkit-animation-name: rotateXY;
  animation-name: rotateXY;
}

@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  95% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  95% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeScale {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeScale {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes fadeRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes rotateXY {
  0% {
    -webkit-transform: rotateX(-15deg) rotateY(-15deg);
            transform: rotateX(-15deg) rotateY(-15deg);
  }
  66% {
    -webkit-transform: rotateY(-315deg) rotateY(-315deg);
            transform: rotateY(-315deg) rotateY(-315deg);
  }
  100% {
    -webkit-transform: rotateY(-15deg) rotateY(-15deg);
            transform: rotateY(-15deg) rotateY(-15deg);
  }
}
@keyframes rotateXY {
  0% {
    -webkit-transform: rotateX(-15deg) rotateY(-15deg);
            transform: rotateX(-15deg) rotateY(-15deg);
  }
  66% {
    -webkit-transform: rotateY(-315deg) rotateY(-315deg);
            transform: rotateY(-315deg) rotateY(-315deg);
  }
  100% {
    -webkit-transform: rotateY(-15deg) rotateY(-15deg);
            transform: rotateY(-15deg) rotateY(-15deg);
  }
}
