/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 3, ../sass/base.scss */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/base.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 9, ../sass/base.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 14, ../sass/base.scss */
body {
  background: white;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  height: 100%;
  line-height: 1.61803em;
  -webkit-font-smoothing: antialised;
}
