/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 3, ../sass/elements.scss */
img {
  display: inline-block;
  width: auto;
}

/* line 7, ../sass/elements.scss */
blockquote {
  color: #666666;
  font-size: 1.25em;
  font-style: italic;
  padding: 1.25em 0.625em;
}

/**********/
/* List elements */
/* line 17, ../sass/elements.scss */
ul, ol {
  margin: 1.25em 0;
}
/* line 20, ../sass/elements.scss */
ul li, ol li {
  padding: 0 0 0.625em 0;
}
/* line 24, ../sass/elements.scss */
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

/* line 28, ../sass/elements.scss */
ul {
  padding: 0 0 0 1.875em;
}

/* line 32, ../sass/elements.scss */
dl {
  margin: 1.25em 0;
}
/* line 35, ../sass/elements.scss */
dl dd, dl dt {
  padding: 0 0 0.625em 0;
}

/* line 40, ../sass/elements.scss */
hr {
  border: 4px solid #666666;
  margin: 2.5em 0 1.25em;
}

/* line 45, ../sass/elements.scss */
fieldset {
  border: 0;
}

/* line 48, ../sass/elements.scss */
legend {
  display: none;
}
