/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
@media all and (min-width: 960px) and (max-width: 1280px) {
  /* line 43, ../sass/media-queries.scss */
  body {
    display: block;
  }
}
@media all and (max-width: 1279px) {
  /* line 48, ../sass/media-queries.scss */
  body {
    display: block;
  }
}
@media all and (min-width: 768px) and (max-width: 960px) {
  /* line 53, ../sass/media-queries.scss */
  body {
    display: block;
  }
}
@media all and (max-width: 959px) {
  /* line 58, ../sass/media-queries.scss */
  .contain {
    padding: 0 10px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  /* line 63, ../sass/media-queries.scss */
  body {
    display: block;
  }
}
@media all and (min-width: 768px) {
  /* line 68, ../sass/media-queries.scss */
  .fadeIn, .fadeScale, .faderotate360 {
    opacity: 0;
  }
}
@media all and (max-width: 767px) {
  /* line 73, ../sass/media-queries.scss */
  .col {
    float: none;
    width: 100%;
  }

  /* line 77, ../sass/media-queries.scss */
  div[class*="offby"] {
    margin-left: 0;
  }

  /* line 81, ../sass/media-queries.scss */
  .row.negative-10, .row.negative-20, .row.negative-30 {
    margin: 0;
  }
  /* line 83, ../sass/media-queries.scss */
  .row.negative-10 .even-pad, .row.negative-20 .even-pad, .row.negative-30 .even-pad {
    margin: 0;
  }
  /* line 87, ../sass/media-queries.scss */
  .row .even-pad {
    margin: 0;
  }
}
@media all and (max-width: 479px) {
  /* line 93, ../sass/media-queries.scss */
  .contain {
    padding: 0 5px;
  }
}
